div {
    color: #e7f5ff;
    color: #d0ebff;
    color: #99cbf1;
    color: #75b5e6;
    color: #5fa3db;
    color: #4497db;
    color: #3c8ed6;
    color: #297ac5;
    color: #1267b6;
    color: #09559c;

    color: #d7cfc7;
}